*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background-image: url(background.avif);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(7px);
    display: flex;
    flex-direction: column;
}

.sidebar:hover {
    width: 250px;
    transition: width .5s;
}

.profile {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

.profile img {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    border-radius: 50%;
}

.profile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25%;
    width: 100%;
    display: flex;
    color: black;
    font-size: 20px;
}

.inbox, .settings, .logout {
    cursor: pointer;
    display: flex;
    margin-bottom: 30%;
    column-gap: 10%;
}

p {
    display: none;
}

.sidebar:hover p {
    display: block;
}

